
.ServicesMainRow {
  /* padding: 2rem 5rem; */
}

.ServicesMenuCol {
  /* border: 1px solid black; */
}

.ServicesContentCol {
  border: 1px solid black;
  max-width: 40rem;
  margin-left: 15rem;
}

.MainColContent {
  padding: 0;
}

.contentMenuItem {
  margin: 2rem;
  height: 4.5rem;
  padding: 1.5rem;
}
