.FooterRow1 {
  height: 3rem;
}

.FooterBrand {
  margin: .5rem 0;
  color: white;
}

.footerItemText {
  color: #ffffff;
}

.copyrightText {
  margin: 0 auto;
  font-size: .7rem;
  color: #ffffff;
}

.FooterList1 {
  /* padding: 0; */
  list-style-type: none;
}

.MainCol {
  /* padding: 0; */
  background-color: rgba(0, 0, 0, 0.6);
}
