.carouselBg {
  height: inherit;
  width: 100%;
  position: absolute;
  z-index: -9;
}

.carouselBg > .carousel-inner {
  /* height: 100%; */
}

.carouselImg {
  /* height: 80rem; */
  max-height: 100%;
}
