.carouselBg {
  height: inherit;
  width: 100%;
  position: absolute;
  z-index: -9;
}

.carouselBg > .carousel-inner {
  /* height: 100%; */
}

.carouselImg {
  height: 173vh;
  width: 100vw;
  /* max-height: 100%; */
}
/*
.carouselItem1 {
  background-image: url('../../assets/images/f.jpg');
  background-size: cover;
} */
