.ContactFormRow {
  margin: 9rem auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 60vw;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.contactFormHeading {
  color: #ffffff;
}
