.App {
  text-align: center;
}

.App-logo {
  height: 20vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MainBgLayer {
  /* background-color: rgba(255, 0, 0, 0.5); */
  /* background-image: url("./assets/images/2.jpeg"); */
  /* height: 100%; */
}



.MainRow {
  /* background-color: rgba(0, 0, 0, 0.3); */
  height: 130vh;
  /* margin: 10rem; */
}

.MainDiv {
    /* height: 100%; */
}

.MainFooterRow {
  /* position: absolute;
  bottom: 0; */
  height: fit-content;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.MainCol {

  margin: 0 !important;
  padding: 0;
}

.MainColContent {
  /* border: 1px solid black; */
}

.FooterCol {
  /* border-top: 1px solid black; */
}

.MainBgLayer {
  height: 100%;
  weight: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
