.MainNav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 5rem;
}

.navbarItemText {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: .5rem;
  margin: 1rem 1rem;
}

.navbarBrandText {
  color: #ffffff;
  margin: 1rem 3rem;
}
